<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Begin Test here -->
<suite name="Suite" parallel="false" >
	<test name="testcase.CreateEmployee">
		<classes>
			<class name="testcase.CreateEmployee" />
		</classes>
	</test>

	<test name="testcase.UpdateEmployee">
		<classes>
			<class name="testcase.UpdateEmployee" />
		</classes>
	</test>

	<listeners>
		<listener class-name="utils.ExtentReporterNG"/>
		<listener class-name="utils.TestFilterListener"/>
	</listeners>

</suite>